<div class="container">
    <button class="search-btn">Download Recipe</button>
    <div class="recipe-container">
        <h1 class="recipe-title">{{singleRecipe.name}}</h1>
        <h4 class="recipe-description">{{singleRecipe.description}}</h4>
        <ul>
            <li class="recipe-li">Category: {{singleRecipe.category}}</li>
            <li class="recipe-li">Allergens: {{singleRecipe.allergens}}</li>
            <li class="recipe-li">Yield: {{singleRecipe.yield}} Servings</li>
        </ul>
        <ul>
            <li class="recipe-li">Prep Time: {{singleRecipe.preptime}} minutes</li>
            <li class="recipe-li">Cook Time: {{singleRecipe.cooktime}} minutes</li>
            <li class="recipe-li">Total Time: {{singleRecipe.totaltime}} minutes</li>
        </ul>

        <div class="recipe-body">

            <div class="recipe-ingredients">
                <h4>Ingredients Needed: </h4>
                <ul>
                    {{#each singleRecipe.ingredients}}
                    <li class="recipe-li recipe-page">{{this.ingredientName}}</li>
                    {{/each}}
                </ul>
            </div>

            <div class="recipe-ingredients">
                <h4>Instructions: </h4>
                <ol class="ol-instructions">
                    {{#each singleRecipe.instructions}}
                    <li class="instruction-li">{{this.stepText}}</li>
                    {{/each}}
                </ol>
            </div>

            <div class="recipe-notes">
                <h4>Notes: </h4>
                <p>{{singleRecipe.notes}}</p>
            </div>

        </div>

        {{#if singleRecipe.calories}}
            <fieldset class="recipe-nutrition">
            <legend><h3 class="nutrition-title">Nutrition Information:</h3></legend>
            <ul>
                <li class="nutrition-li">Calories: {{singleRecipe.calories}}</li>
                <li class="nutrition-li">Total Fat: {{singleRecipe.fat}}g</li>
                <li class="nutrition-li">Total Carbs: {{singleRecipe.carbs}}g</li>
                <li class="nutrition-li">Protein: {{singleRecipe.protein}}g</li>
            </ul>
        </fieldset>

        {{/if}}

        


    </div>
</div>