<div id="hero" class="recipe-hero">
        <div class="hero-body">
            <h2>My Recipe Book</h2>
           
                <div class="button-container">
                    <button class="search-btn"><a href="/add-recipe">Add Recipe</a></button>

                </div>
        </div>
    </div>

    <div class="container card-container">
        {{#each recipes}}
            <div class="card">
                <div class="card-body">
                    <a href="/recipes/{{id}}" class="name"><h4 class="recipe-name">{{name}}</h4></a>
                    <h6 class="recipe-description">{{description}}</h6>
                    <div class="recipe-image-container"></div>
                    <ul>
                        <li class="recipe-li">Category: {{category}}</li>
                        <li class="recipe-li">Allergens: {{allergens}}</li>
                        <li class="recipe-li">Yield: {{yield}}</li>
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>

    {{!-- <script src="/js/recipe-book.js"></script> --}}
